.DS_Store
bin/
gen/
.classpath
.project
.idea
*.iml
*.iws
*.ipr

out
docs
libs.bak
local.properties
.settings
proguard-project.txt
gen-annotation-processed
target
.apt_generated
*.apklib
classes
gen-external-apklibs
.gradle
